.fc {
	background-color: $bg-card;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	padding: 5px;

	td {
		border-radius: 15px;
		// border: none !important;
	}
}

.fc-toolbar {
	background: transparent;
}

.fc-widget-header {
	background-color: $bg-card !important;
	color: $text-color !important;
	border: none !important;
}

.fc-image i {
	color: $text-color !important;
}

.fc-unthemed .fc-today {
	border: none !important;
	background: $bg-card !important;
}

.fc-basicWeek-view,
.fc-month-view {

	.fc-state-highlight {
		background-color: $theme-dark !important;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	}
	
	.fc-day {
		background: transparent;
	}

	.fc-event {
		color: $text-color;
	}

	.fc-event:hover {
		color: $text-dark;
	}
}