#homepage-items {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend %header;
	}

	.panel,
	.white-box,
	.el-element-overlay,
	#allSpeedtest {
		border-radius:  15px;
		background-color: white;
		@extend %box-shadow;
	}

	.card {
		border-radius: 8px;
		
		.card-body {
			border-radius: 8px;
			
			@include headerColor($text-light);
			border-radius: 8px;
			@extend %box-shadow;
		}
	}
	
	#allSpeedtest {
		padding: 10px;
	}

	i {
		color: $text-light
	}

	.el-element-overlay {
		margin: 20px 0;
	}

	.owl-item .item {
		border-radius: 15px;
	}

	.hover-homepage-item {
		border-radius: 15px;
	}	

	.recent-title {
		padding: 4px;
		border-radius: 0px 0px 15px 15px !important;
	}

	// qBittorrent
	.mailbox-widget {
		background-color: $theme-dark !important;
		border-radius: 15px 15px 0 0;

		.customtab li:hover {
			background-color: $blue;
			border-radius: 15px 15px 0 0;

			li.active a {
				color: $text-dark !important;
			}
		}
	}
	
	.panel {
		padding: 10px;
	
		.panel-heading {
			background-color: white !important;
			border: none !important;
		}
	}
}
