a {
    color: #2cabe3;
    text-decoration: none;
    transition: color 0.2s ease;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
        // color: $text-dark !important;
        cursor: pointer;
    }

    &.text-primary {
        font-weight: 600;
        user-select: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %header;
    color: $text-dark;
}

.text-muted {
    color: #fff;
}