// Colors
$theme-light: #1d1f26;
$theme-dark: #141414;

$text-light: #FFF;
$text-active: #ff7676;
$text-color: #f2f2f2;
$text-dark: #848484;

$shadow-color: rgba(0.5, 0.5, 0.5, 0.75);
$inset-shadow-color: rgba(0, 0, 0, 0.1);

$bg-card: black;
$bg-header: #3f3f3f;

$bg-unavailable: #BBB;
$bg-success: #12e25e;
$bg-success-dark: #12ba50;
$bg-warning: #dee51b;
$bg-warning-dark: #c9ac1c;
$bg-info: #0ce5f4;
$bg-info-dark: #0cc6d3;
$bg-error: #f41f3f;
$bg-error-dark: #db1c39;

$bg-org-alt: $bg-card;
$bg-org: $bg-card;


// Colors
$blue: #2cabe3;

// Font Stacks
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
$monospace-font-stack: SFMono-Regular, Menlo, Monaco, Consolas,
    'Source Code Pro', 'Droid Sans Mono', 'Liberation Mono', 'Fira Mono',
    'Courier New', monospace;
$font-stack: 'Open Sans', $system-font-stack !default;