// Colors
$theme-light: #F3F9FF;
$theme-dark: #EEEEEE;
$text-light: #FFF;
$text-color: #434343;
$text-dark: #000;


// Font Stacks
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
$monospace-font-stack: SFMono-Regular, Menlo, Monaco, Consolas,
    'Source Code Pro', 'Droid Sans Mono', 'Liberation Mono', 'Fira Mono',
    'Courier New', monospace;
$font-stack: 'Open Sans', $system-font-stack !default;